html {
    background-color: #1d2020;
    background-image: url('../media/background.png');
    height: 95%;
    width: auto;
    font-family: sans-serif;
}

label, input {
    height: 15px;
    width: 180px;
}

#checklist {
    padding: 0px;
    width: 15px;
}

.navItem {
    position: relative;
    display: inline-block;
    background-color: #007b94;
    height: 38px;
    width: auto;
    margin: auto;
    text-align: center;
    line-height: 38px;
    margin-top: auto;
    padding-right: 38px;
    margin-bottom: 1px;
    min-width: 10px;
    max-width: 150px;
    border-style: outset;
    border-color: #7d7d7d;
    overflow: hidden;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
background: #292929; 
}

::-webkit-scrollbar-thumb {
background: #555; 
}

::-webkit-scrollbar-thumb:hover {
background: #949494; 
}

ul:hover {
    background-color: #ffc7da;
}

.newTask {
    border-style: solid;
    border-color: black;
    display: block;
    height: 100%;
    width: 182px;
}

.createButton {
    text-align: center;
    background-color: #007b94;
    border: medium outset #7d7d7d;
}

.createButton:hover {
    border-style: inset;
    background-color: #ffc7da;
}

#newProjectButton {
    width: 20px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 1px;
    background-color: #007b94;
}

#newProjectButton:hover {
    background-color: #ffc7da;
}

#appContainer {
    background-color: rgba(53, 59, 59, 0.75);
}

#banner {
    height: 30px;
    border-color: lightslategray;
    border-left-color: darkslategrey;
    border-right-color: darkslategray;
    border-style: solid;
    text-align: center;
}

#navbar {
    width: auto;
    height: 50px;
    border-color: black;
    border-style: solid;
    background-color: rgba(11, 59, 81, 0.53);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-right: 0;
}

#taskContainer {
    min-height: 300px;
    min-width: 300px;
    height: 80%;
    border-style: solid;
    border-color: black;
}