html {
    background-color: #1d2020;
    background-image: url('../media/background.png');
    height: 100%;
    width: auto;
}

ul {
    position: relative;
    display: inline-block;
    background-color: #5e737d;
    height: 46px;
    min-width: 50px;
    text-align: left;
    vertical-align: middle;
    line-height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul:hover {
    background-color: pink;
}

#appContainer {
    background-color: rgba(53, 59, 59, 0.75);
}

#banner {
    height: 30px;
    border-color: lightslategray;
    border-left-color: darkslategrey;
    border-right-color: darkslategray;
    border-style: solid;
    text-align: center;
}

#navbar {
    height: 50px;
    border-color: black;
    border-style: solid;
    background-color: rgba(11, 59, 81, 0.53);
}

#newProjectButton {
    margin: auto;
    min-width: 50px;
    border-style: outset;
    border-color: #7d7d7d;
}


#taskContainer {
    min-height: 300px;
    min-width: 300px;
    height: 80%;
    border-style: solid;
    border-color: black;
}